In [1]:
library(usethis)
library(devtools)
library(roxygen2)

Warning message:
"package 'usethis' was built under R version 4.3.3"
Warning message:
"package 'devtools' was built under R version 4.3.3"
Warning message:
"package 'roxygen2' was built under R version 4.3.3"

In [2]:
has_devel()

Your system is ready to build packages!

In [3]:
library(fungioutline)

Warning message:
"package 'ggplot2' was built under R version 4.3.3"
Warning message:
"package 'tidyr' was built under R version 4.3.3"
Warning message:
"package 'readr' was built under R version 4.3.3"
Warning message:
"package 'purrr' was built under R version 4.3.3"
Warning message:
"package 'dplyr' was built under R version 4.3.3"
Warning message:
"package 'stringr' was built under R version 4.3.3"
Warning message:
"package 'lubridate' was built under R version 4.3.3"
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

  Updated fungioutline: March 15, 2025

In [4]:
# define functions
rank_suffix <- function() {
    # Create a table, rank name and the suffixes
    suffix <- c("aceae", "ales", "mycetidae", "mycetes", "mycota", "mycotina")
    names(suffix) <- c("Family", "Order", "Subclass", "Class", "Subphylum", "Phylum")
    suffix %>% as.data.frame() %>% rownames_to_column(var = "Rank") %>% rename(Suffix=2)-> suffix_tbl
    return(suffix_tbl)
}

In [5]:
rank_suffix()

  Rank      Suffix
1 Family    aceae
2 Order     ales
3 Subclass  mycetidae
4 Class     mycetes
5 Subphylum mycota
6 Phylum    mycotina

In [6]:
rank_suffix <- function() {
  # Vector of standardized suffixes for fungal taxonomic ranks
  suffix <- c("aceae", "ales", "mycetidae", "mycetes", "mycota", "mycotina")
  
  # Named vector mapping ranks to suffixes
  names(suffix) <- c("Family", "Order", "Subclass", "Class", "Phylum", "Subphylum")
  
  return(suffix)
}

In [7]:
phylum_lst <- function() {
  # Vector of standardized suffixes for fungal taxonomic ranks
  outline %>% select(Phyla) %>% filter(!grepl(pattern = "sedis", Phyla)) %>% 
    unique() %>% add_rownames("Index") %>% mutate(Index=as.integer(Index)) -> Phyla_tbl
  return(Phyla_tbl)
}

In [8]:
phylum_lst()

Warning message:
"`add_rownames()` was deprecated in dplyr 1.0.0.
ℹ Please use `tibble::rownames_to_column()` instead."

   Index Phyla
1   1    Aphelidiomycota
2   2    Basidiobolomycota
3   3    Blastocladiomycota
4   4    Sanchytriomycota
5   5    Chytridiomycota
6   6    Monoblepharomycota
7   7    Neocallimastigomycota
8   8    Ascomycota
9   9    Basidiomycota
10 10    Entorrhizomycota
11 11    Calcarisporiellomycota
12 12    Glomeromycota
13 13    Mortierellomycota
14 14    Mucoromycota
15 15    Olpidiomycota
16 16    Rozellomycota
17 17    Entomophthoromycota
18 18    Kickxellomycota
19 19    Zoopagomycota

In [9]:
summary_outline <- function(rank = "Phylum") {
  #' Count subordinate taxa within a given taxonomic rank in fungal classification
  #'
  #' @param rank Character specifying taxonomic rank to analyze ("Phylum", "Class", etc.)
  #' @return A data frame showing parent taxa and counts of their immediate subordinates
  #' @examples
  #' summary_outline("Phylum")  # Count classes per phylum
  #' summary_outline("Order")   # Count families per order
  
  # Load suffix lookup table (rank -> naming suffix)
  suffix_tbl <- rank_suffix()
  
  # Input validation - ensure requested rank is valid
  valid_ranks <- names(suffix_tbl)
  if (!rank %in% valid_ranks) {
    stop(paste("Invalid rank. Choose from:",
               paste(valid_ranks, collapse = ", ")))
  }
  
  # Get naming suffix for target rank (e.g., "-mycota" for Phylum)
  target_suffix <- suffix_tbl[rank]
  
  # DEMO DATA - Replace with your actual taxonomy data
  # Expected columns: 
  # - name: Taxon name (e.g., "Ascomycota")
  # - rank: Taxonomic rank (e.g., "Phylum")
  # - parent: Optional column for direct parent linkage
  taxa_data <- data.frame(
    name = c("Ascomycota", "Basidiomycota", "Agaricomycetes", 
             "Sordariomycetes", "Agaricales", "Pucciniales"),
    rank = c("Phylum", "Phylum", "Class", "Class", "Order", "Order")
  )
  
  # Calculate subordinate counts
  result <- taxa_data %>%
    # Filter for taxa at the rank immediately below input rank
    filter(rank == names(suffix_tbl)[which(suffix_tbl == target_suffix)]) %>%
    
    # Extract parent taxa by removing rank-specific suffix
    mutate(parent = sub(paste0(target_suffix, "$"), "", name)) %>%
    
    # Count subordinates per parent
    count(parent) %>%
    
    # Rename columns dynamically
    rename(!!rank := parent,  # Parent taxon column gets input rank name
           n_subtaxa = n)     # Standardized count column name
  
  return(result)
}